/*debug*/
/* [class*="col-"] {
    background-color: #d8d8d8;
    border: 1px solid black;
} */

html {
    scroll-behavior: smooth;    
}
/*common line star*/
.fa-star {
    font-size: 22px;
}
.line::before {
    display: inline-block;
    content: "";
    border-top: .3rem solid #ffffff;
    width: 10rem;
    margin: -5px 1rem;
    transform: translateY(-1rem);
}
.line::after:last-child {
    display: inline-block;
    content: "";
    border-top: .3rem solid #ffffff;
    width: 10rem;
    margin: -5px 1rem;
    transform: translateY(-1rem);
}
.line_blk::before {
    display: inline-block;
    content: "";
    border-top: .3rem solid #2C3E50;
    width: 10rem;
    margin: -5px 1rem;
    transform: translateY(-1rem);
}
.line_blk::after:last-child {
    display: inline-block;
    content: "";
    border-top: .3rem solid #2C3E50;
    width: 10rem;
    margin: -5px 1rem;
    transform: translateY(-1rem);
}
/*common line star*/

/* nav bar */
.navbar_top {
    color: #fff;
    font-weight: 900;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: #2C3E50;
    border-color: #2C3E50;
}
.navbar_top .navbar-toggle .icon-bar {
    background-color: #888;
}
.navbar_top .navbar-toggle:focus,
.navbar_top .navbar-toggle:hover {
    background-color: #ddd;
}
.navbar-toggle { 
    border: 1px solid #ffffff;
}
.navbar-brand {
    color: #fff;
}
a:focus,
a:hover {
    color: #ffffff;
}
.nav>li>a {
    color: #fff;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #2C3E50;
    color: #1ABC9C;
}
/* hero */
#fluid_hero {
    padding: 48px 0;
    text-align: center;
    font-weight: 700;
    color: #fff;
    background-color: #1ABC9C;
    text-transform: uppercase;
}
#fluid_hero img {
    width: 250px;
    margin-top: 24px;
}
#fluid_hero h1{
    margin-bottom: 24px;
}

/* portfolio */
#portfolio {
    padding: 48px;
    text-align: center;
    text-transform: uppercase;
    color: #2C3E50;
}
#portfolio h2 {
    margin-bottom: 24px;
}
#portfolio img {
    width: 100%;
    padding: 15px 0;
    border-radius: 10%;
}

/*about*/
#about {
    color: #ffffff;
    padding: 48px 0;
    margin: 0 auto;
    background-color: #1ABC9C;
}
#about h2,
#contact h2 {
    margin-bottom: 24px;
    text-align: center;
    text-transform: uppercase;
}
#about p {
    margin-top: 24px;
}
/*contact*/
#contact {
    padding: 48px 0;
    color: #2C3E50;
}
/* btn download */
.btn_download i {
    margin-right: 8px;
}
.btn_download {
    letter-spacing: 1px;
    margin-top: 24px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
}
/*form*/
form {
    padding: 36px 0; /*forse solo top*/
}
.form_style {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-size: 20px;
}
.form_style {
    border-radius: 0;
    box-shadow:  none;
    transition: none;
    padding-top: 12px; /*per distanziare placehoder da bottom*/
    padding-bottom: 32px;
}
.form_style::placeholder {
    color: #2C3E50;
    padding-bottom: 16px;
    /* font-weight: 600;  */
}
.form-control:focus {
    box-shadow: none;
    border-color: #1ABC9C;
}
/* button from*/
.btn_send {
    border: transparent;
    background-color: #1ABC9C;
}
.btn_send:hover {
    color: #fff;
    background-color: #24a087;
    border-color:  #154138;
}
.btn_send:active,
.btn_send:focus {
    color: #fff;
    background-color: #9ad4c9 !important;
    border-color:  #6f7271 !important;
}

/*footer top*/
footer {
    color: #ffffff;
    text-align: center;
}

#footer_top {
    padding: 48px;
    background-color: #3A546D;
}
#footer_top h4 {
    text-transform: uppercase;
}
/* social icon */
#around_web ul {
    padding-left: 0; /*ereditato pad 40px da non so dove*/
    list-style: none;
}
#around_web li {
    width: 45px;
    margin-right: 16px;
    padding: 12px 0;
    border: 1px solid #ffffff;
    border-radius: 50%;
    display: inline-block;
    transition: 0.4s;
}
#around_web a {
    border-radius: 50%;
    text-align: center;
    color: #ffffff;
    padding: 12px 16px;
    transition: 0.4s;
}
/* social icon hover */
#around_web li:hover {
    background-color: #ffffff;
}
#around_web li:hover i {
    color: #2C3E50;
}
/* link footer hover */
#link_inline {
    color: #1ABC9C;
    transition: 0.4s;
}
#link_inline:hover {
    color: #2f917d;
    text-decoration: underline;
}
/*footer bottom*/
#footer_bottom {
    padding: 48px;
    background-color: #2C3E50;
}



/* Small devices (tablets, 768px and up) */ 
@media (min-width:768px) { 
    #fluid-hero h1{
        font-size: 42px;
    }
    #portfolio h2 {
        font-size: 36px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width:992px) {
    
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width:1200px) {

}